@-webkit-keyframes animate-cloud {
	from {
		background-position: 600px 100%
	}

	to {
		background-position: 0 100%
	}
}

@-moz-keyframes animate-cloud {
	from {
		background-position: 600px 100%
	}

	to {
		background-position: 0 100%
	}
}

@-ms-keyframes animate-cloud {
	from {
		background-position: 600px 100%
	}

	to {
		background-position: 0 100%
	}
}

@-o-keyframes animate-cloud {
	from {
		background-position: 600px 100%
	}

	to {
		background-position: 0 100%
	}
}

html {
	height: 100%
}

body {
	width: 100%;
	height: 100%;
	margin: 0
}

.sign {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #049ec4
}

.sign .container {
	position: fixed;
	bottom: -22px;
	background: url('../images/cloud.jpg') 0 bottom repeat-x #049ec4;
	-webkit-animation: animate-cloud 20s linear infinite;
	-moz-animation: animate-cloud 20s linear infinite;
	-ms-animation: animate-cloud 20s linear infinite;
	-o-animation: animate-cloud 20s linear infinite;
	animation: animate-cloud 20s linear infinite;
	width: 100%
}

.clearfix:after,form:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.container {
	margin: 0;
	position: relative;
	width: 900px
}

#content {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,#f8f8f8 0,#f9f9f9 100%);
	background: -webkit-linear-gradient(top,#f8f8f8 0,#f9f9f9 100%);
	background: -o-linear-gradient(top,#f8f8f8 0,#f9f9f9 100%);
	background: -ms-linear-gradient(top,#f8f8f8 0,#f9f9f9 100%);
	background: linear-gradient(top,#f8f8f8 0,#f9f9f9 100%);
	-webkit-box-shadow: 0 1px 0 #fff inset;
	-moz-box-shadow: 0 1px 0 #fff inset;
	-ms-box-shadow: 0 1px 0 #fff inset;
	-o-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	border: 1px solid #c4c6ca;
	margin: 0 auto;
	padding: 25px 0 0;
	position: relative;
	top: 170px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 400px
}

#content h1 {
	color: #7e7e7e;
	font: bold 25px Helvetica,Arial,sans-serif;
	letter-spacing: -.05em;
	line-height: 20px;
	margin: 10px 0 30px
}

#content h1:before {
	content: "";
	height: 1px;
	position: absolute;
	top: 10px;
	width: 27%
}

#content h1:after {
	content: "";
	height: 1px;
	position: absolute;
	top: 10px;
	width: 27%;
	background: #7e7e7e;
	background: -moz-linear-gradient(left,#7e7e7e 0,#fff 100%);
	background: -webkit-linear-gradient(left,#7e7e7e 0,#fff 100%);
	background: -o-linear-gradient(left,#7e7e7e 0,#fff 100%);
	background: -ms-linear-gradient(left,#7e7e7e 0,#fff 100%);
	background: linear-gradient(left,#7e7e7e 0,#fff 100%);
	right: 0
}

#content h1:before {
	background: #7e7e7e;
	background: -moz-linear-gradient(right,#7e7e7e 0,#fff 100%);
	background: -webkit-linear-gradient(right,#7e7e7e 0,#fff 100%);
	background: -o-linear-gradient(right,#7e7e7e 0,#fff 100%);
	background: -ms-linear-gradient(right,#7e7e7e 0,#fff 100%);
	background: linear-gradient(right,#7e7e7e 0,#fff 100%);
	left: 0
}

#content:after,#content:before {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,#f8f8f8 0,#f9f9f9 100%);
	background: -webkit-linear-gradient(top,#f8f8f8 0,#f9f9f9 100%);
	background: -o-linear-gradient(top,#f8f8f8 0,#f9f9f9 100%);
	background: -ms-linear-gradient(top,#f8f8f8 0,#f9f9f9 100%);
	background: linear-gradient(top,#f8f8f8 0,#f9f9f9 100%);
	border: 1px solid #c4c6ca;
	content: "";
	display: block;
	height: 100%;
	left: -1px;
	position: absolute;
	width: 100%
}

#content:after {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
	top: 0;
	z-index: -1
}

#content:before {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
	top: 0;
	z-index: -2
}

#content form {
	margin: 0 20px;
	position: relative
}

#content form input[type=password],#content form input[type=text] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,.08) inset;
	-moz-box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,.08) inset;
	-ms-box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,.08) inset;
	-o-box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,.08) inset;
	box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,.08) inset;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px Helvetica,Arial,sans-serif;
	margin: 0 0 10px;
	padding: 15px 10px 15px 40px;
	width: 80%
}

#content form input[type=password]:focus,#content form input[type=text]:focus {
	-webkit-box-shadow: 0 0 2px #ed1c24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: 0
}

#username {
	background-position: 10px 10px!important
}

#password {
	background-position: 10px -53px!important
}

#content form input[type=button] {
	background: #fee79a;
	background: -moz-linear-gradient(top,#fee79a 0,#fec151 100%);
	background: -webkit-linear-gradient(top,#fee79a 0,#fec151 100%);
	background: -o-linear-gradient(top,#fee79a 0,#fec151 100%);
	background: -ms-linear-gradient(top,#fee79a 0,#fec151 100%);
	background: linear-gradient(top,#fee79a 0,#fec151 100%);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	border: 1px solid #d69e31;
	color: #85592e;
	cursor: pointer;
	float: left;
	font: bold 15px Helvetica,Arial,sans-serif;
	height: 35px;
	margin: 20px 0 35px 15px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	width: 120px
}

#content form input[type=button]:hover {
	background: #fec151;
	background: -moz-linear-gradient(top,#fec151 0,#fee79a 100%);
	background: -webkit-linear-gradient(top,#fec151 0,#fee79a 100%);
	background: -o-linear-gradient(top,#fec151 0,#fee79a 100%);
	background: -ms-linear-gradient(top,#fec151 0,#fee79a 100%);
	background: linear-gradient(top,#fec151 0,#fee79a 100%)
}

#content form div a {
	color: #004a80;
	float: right;
	font-size: 12px;
	margin: 30px 15px 0 0;
	text-decoration: underline
}

.button {
	background: #f7f9fa;
	background: -moz-linear-gradient(top,#f7f9fa 0,#f0f0f0 100%);
	background: -webkit-linear-gradient(top,#f7f9fa 0,#f0f0f0 100%);
	background: -o-linear-gradient(top,#f7f9fa 0,#f0f0f0 100%);
	background: -ms-linear-gradient(top,#f7f9fa 0,#f0f0f0 100%);
	background: linear-gradient(top,#f7f9fa 0,#f0f0f0 100%);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #cfd5d9;
	padding: 15px 0
}

.button a:hover {
	background-position: 0 -135px;
	color: #00aeef
}

.comment {
	width: 680px;
	margin: 20px auto;
	position: relative;
	background: #fff;
	padding: 20px 50px 50px;
	border: 1px solid #DDD;
	border-radius: 5px;
}

.comment h3 {
	height: 28px;
	line-height: 28px
}

.com_form {
	width: 100%;
	position: relative
}

.input {
	width: 99%;
	height: 60px;
	border: 1px solid #ccc
}

.com_form p {
	height: 28px;
	line-height: 28px;
	position: relative;
	margin-top: 10px;
}

span.emotion {
	width: 42px;
	height: 20px;
	padding-left: 20px;
	cursor: pointer
}

span.emotion:hover {
	background-position: 2px -28px
}

.qqFace {
	margin-top: 4px;
	background: #fff;
	padding: 2px;
	border: 1px #dfe6f6 solid;
}

.qqFace table td {
	padding: 0px;
}

.qqFace table td img {
	cursor: pointer;
	border: 1px #fff solid;
}

.qqFace table td img:hover {
	border: 1px #0066cc solid;
}

#show {
	width: 770px;
	margin: 20px auto;
	background: #fff;
	padding: 5px;
	border: 1px solid #DDD;
	vertical-align: top;
}

.sub_btn {
	position: absolute;
	right: 0px;
	top: 0;
	display: inline-block;
	zoom: 1;
 /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

.sub_btn:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top, #6b9d28, #436b0c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}

#show {
	min-height: 600px;
}
.message {
	display: flex;
}
.history {
	display: inline-block
}
.user-self {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align:center;
	background-color: #E6F8FD;
	border: 1 solid #E6F8FD;
	border-radius: 25px;
}
.user-them {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align:center;
	background-color: #482D7C;
	border: 1 solid #254A99;
	border-radius: 25px;
	margin: 15px 30px  15px 0px;
}